.wc-donation-amount {
  margin-bottom: 20px;
}

.wc-donation-amount input {
  max-width: 120px;
}

.wc-donation-giftaid.form-row {
  padding-top: 20px;
}

.wc-donation-giftaid label {
  padding-left: 20px;
  cursor: pointer;
  font-size: 30px;
  font-weight: 100;
}

.wc-donation-giftaid input:before {
  content: "";
  width: 40px;
  height: 40px;
  top: -13px;
  left: -20px;
  border: 2px solid lightGrey;
  text-align: center;
  background-color: white;
  position: absolute;
  color: #5a9a4e;
  font-size: 30px;
  cursor: pointer;
}

.wc-donation-giftaid:hover input:before {
  background: #ebebeb;
}

.wc-donation-giftaid input[type="checkbox"]:checked:before {
  content: '\2714';
  border: solid 2px #5a9a4e;
}
